Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-narrowing-conversions,
  modernize-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-avoid-return-with-void-value
HeaderFilterRegex: '^include/.*'
CheckOptions:
  misc-trailing-whitespace.AllowEmptyLines: false

